<div class="limiter">
  <div
    class="container-login100"
    style="background-image: url('../../../../assets/images/bg-01.jpg');"
  >
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <h1>Dashboard</h1>
      <hr />

      <p>
        This page only works if you are authenticated
      </p>
      <div class="text-right p-t-8 p-b-31"></div>

      <h4>User Info</h4>
      <pre>{{ user | json }}</pre>

      <div class="text-right p-t-8 p-b-31"></div>

      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button class="login100-form-btn" type="button" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
